[Desktop Entry]
Name=Catalog Commands
Name[ca]=Catalog Commands
Name[en_AU]=Catalog Commands
Name[en_GB]=Catalog Commands
Name[pt]= Catalogo de comandos
Name[pt_BR]=Catalogo de comandos
Name[pt_PT]=Cataogo de comandos
Comment= Commands essentials.
Comment[en_AU]= Commands essentials. 
Comment[en_GB]= Commands essentials. 
Comment[pt]= Comandos essenciais
Comment[pt_BR]= Comandos essenciais
Comment[pt_PT]=Comandos essenciais
Exec=catalog-commands
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;DesktopSettings;Utility;
Keywords=Configuration;Menu;User;
Icon=catalog-commands
X-Ubuntu-Gettext-catalog-commands
