Package: catalog-commands
Version: 2.0.0
Maintainer: Claudio A. Silva <claudiosilva@duzeru.org>
Architecture: all
Section: acessories
Priority: optional
Installed-Size: 1200
Depends: python-simplejson, libjs-jquery
Homepage: http://duzeru.org
Description: Um catalogo de comandos para o cotidiano no GNU/LInux
 PT- Um Catalogo com comandos de A a Z tendo base todas as distros
 funciona diretamente no navegador de forma offline e não requer conexão com a internet
 EN - A Catalog with A to Z commands being based all distros
 It works directly in the form of offline browser and does not require connection for internet
